*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --white: rgb(255, 255, 255);
  --faded-white: rgb(217, 217, 217);
  --grey: rgb(92, 95, 106);
  --light-grey: rgb(182, 183, 188);
  --medium-grey: rgb(92, 95, 106);
  --input-bg: rgb(235, 239, 245);
  --black: rgb(0, 0, 0);
  --red: rgb(255, 0, 0);
  --blue: rgb(0, 135, 255);
  --gold: rgb(255, 140, 0);
  --gold-bg: rgba(255, 241, 115, 0.505);
  --green: rgba(0, 135, 103, 1);
  --blocked-fill: rgba(255, 0, 0, 0.3);
  --active-fill: rgba(22, 192, 152, 0.38);
  --shipped-fill: rgba(0, 166, 255, 0.26);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--faded-white);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section .box {
  display: flex;
  background-color: var(--white);
  min-width: 50%;
  min-height: 45%;
  border-radius: 16px;
  padding: 50px 10px;
}

.section .form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.section .form-col .input-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
  gap: 10px;
  width: 50%;
}

.section .form-col input[type="text"],
.section .form-col input[type="password"] {
    height: 45px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 0 5px;
    outline: none;
    font-size: 14px;
    width: 100%;
}

.section .form-col button {
  width: 100%;
  height: 44px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 8px;
  cursor: pointer;
}

.section form .form-error {
  font-size: 12px;
  color: var(--red);
  text-align: center;
}

.section .error-message {
  font-size: 14px;
  color: var(--red);
  text-align: center;
  border: 1px solid var(--red);
  border-radius: 9px;
  padding: 10px 60px;
}

header {
  display: flex;
  width: 100%;
  min-height: 66px;
}

.navbar {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100%;
  padding: 20px 50px;
  justify-content: space-between;
  z-index: 10;
}

.navbar .head {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.navbar .head .logo {
  padding: 0 20px;
}

.navbar .head .logo a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}

.navbar .head .page-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navbar .head .page-name .base-page {
  font-size: 14px;
  color: var(--medium-grey);
  text-decoration: none;
}

.navbar .head .page-name svg {
  fill: var(--medium-grey);
}

.navbar .head .page-name .current {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.state-button {
  display: flex;
  padding: 8px 15px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
}

.state-button.label {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 120px;
  max-height: 50px;
  padding: 5px 10px;
  border-width: 1px;
  font-weight: 400;
  font-size: 14px;
}

.state-button.processing {
  background-color: var(--gold-bg);
  font-weight: 600;
  border: 2px solid var(--gold);
  color: var(--gold);
}

.state-button.shipped {
  background-color: var(--shipped-fill);
  font-weight: 600;
  border: 2px solid var(--blue);
  color: var(--blue);
}

.state-button.delivered {
  background-color: var(--active-fill);
  font-weight: 600;
  border: 2px solid var(--green);
  color: var(--green);
}

.state-button.cancelled {
  background-color: var(--blocked-fill);
  font-weight: 600;
  border: 2px solid var(--red);
  color: var(--red);
}

.sidebar {
  display: flex;
  position: relative;
  background-color: var(--white);
  min-height: 100vh;
  width: 260px;
  max-width: 260px;
  margin-top: -66px;
  filter: drop-shadow();
  justify-content: center;
}

.sidebar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  flex-direction: column;
  margin-top: 70px;
  position: fixed;
}

.sidebar ul li {
  height: 40px;
  width: 210px;
}

.sidebar ul li a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: var(--medium-grey);
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.sidebar ul .active {
  background-color: var(--faded-white);
  border-radius: 6px;
  color: var(--black);
}

.search-box {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 5px;
  align-items: center;
  min-height: 35px;
  padding: 0 0 0 10px;
  gap: 10px;
  align-items: center;
}

.search-box input[type="text"] {
  border: none;
  min-height: 35px;
  outline: none;
  background-color: transparent;
}

.cover {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 75%;
  max-width: 80%;
  min-height: 90vh;
  padding: 40px 40px;
  border-radius: 6px;
}

.cover .cover-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cover .cover-head .row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.cover .cover-head .row a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
}

.cover .line {
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
  margin-bottom: 10px;
}


.cover form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px 40px;
}

.cover form .input-row {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.cover form .input-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover form  input[type="text"],
.cover form  input[type="password"],
 .cover form  input[type="date"],
 .cover form  input[type="email"],
 .cover form  input[type="number"],
 .cover form  input[type="tel"],
 .cover form  input[type="url"],
.cover form select{
  display: flex;
  width: 280px;
  height: 35px;
  color: var(--grey);
  background-color: var(--input-bg);
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--light-grey);
  padding: 0 5px;
  align-items: center;
}

.cover form textarea {
  display: flex;
  color: var(--grey);
  background-color: var(--input-bg);
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--light-grey);
  padding: 5px 5px;
  align-items: center;
}

.cover form label {
  font-size: 14px;
  color: var(--medium-grey);
}

.file-input-container {
  display: inline-block;
  position: relative;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: #f8f9fc;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 280px;
}

.file-input-container:hover {
  background-color: var(--input-bg);
}

.file-input-container i {
  font-size: 24px;
  color: #888;
}

.file-input-container span {
  font-size: 14px;
  color: var(--medium-grey)
}

.file-input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-item {
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-preview-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.image-preview-container .remove-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 6px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
}

.image-preview-container .remove-btn:hover {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
}

#cropper-modal {
  display: flex;
  flex-direction: column;
  right: 10px;
  width: 100%;
  z-index: 10;
  gap: 10px;
  background-color: var(--white);
}

#cropper-modal .button {
  padding: 5px;
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
}

.colors {
  display: flex;
  gap: 10px;
}

.color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.selected {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 430 500'%3E%3Cpath fill='white' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #000;
}

.color-option:hover {
  border-color: #000;
}

.color-option {
  background-color: transparent;
}

.variants {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.variants .variant-option {
  padding: 5px 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white);
  font-size: 12px;
  font-weight: 600;
}

.button {
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--black);
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.button-2 {
  padding: 10px 15px;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  border: 1px solid var(--black);;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  padding: 12px;
  text-align: left;
  margin-top: 10px;
}

table thead {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  margin-bottom: 10px;
}

.status-blocked {
  display: flex;
  color: var(--red);
  background-color: var(--blocked-fill);
  border: 1px solid var(--red);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  justify-content: center;
  width: 80%;
}

.status-active {
  display: flex;
  color: var(--green);
  background-color: var(--active-fill);
  border: 1px solid var(--green);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  width: 80%;
  text-transform: capitalize;
  justify-content: center;
}

.action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.action-edit {
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
}

.action-edit:hover {
  color: var(--white);
  background-color: #007bff;
}

.action-delete {
  color: #f44336;
  background-color: transparent;
  border: 1px solid #f44336;
}

.action-delete:hover {
  color: var(--white);
  background-color: #f44336;
}

.action-btn:hover {
  opacity: 0.8;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: right;
  margin-top: 20px;
  margin-right: 20px;
}

.pagination li {
  margin: 0 5px;
  padding: 4px 8px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
.pagination a {
  padding: 4px 8px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination li.active {
  font-weight: bold;
  background-color: #e0e0e0;
  color: var(--black);
  pointer-events: none;
}

.pagination li:hover {
  background-color: #e0e0e0;
}

.currency-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--input-bg);
  padding: 0 10px;
  height: 38px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.currency-symbol {
  font-size: 18px;
  color: #555;
  margin-right: 8px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  align-items: center;
  gap: 10px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name {
  font-size: 14px;
  text-align: left;
  color: var(--grey);
  font-weight: 500;
}

.product-price {
  font-size: 14px;
  color: var(--black);
  text-align: left;
  font-weight: 600;
}

.product-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-error {
  font-size: 12px;
  color: var(--red);
  text-align: center;
}

.status-selection {
  width: 100%;
  border: 1px solid #282828;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #555;
  resize: none;
}
