<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover">
        <form id="coupon-form" style="width: 760px;">
            <div class="col">
                <label for="name">Coupon Name</label>
                <input type="text" id="name" name="name" placeholder="Enter Coupon Name" data-validate="required" style="width: 100%;">
            </div>
            <div class="col">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4"placeholder="Enter Coupon description..." data-validate="required"></textarea>
            </div>

            <div class="row" style="gap: 80px;">
                <div class="col">
                    <label for="activation">Activation Date</label>
                    <input type="date" id="activation" name="activation" placeholder="DD-MM-YYYY" style="width: 300px; padding: 0 10px;" data-validate="required">
                </div>

                <div class="col">
                    <label for="expiry">Expiry Date</label>
                    <input type="date" id="expiry" name="expiry" placeholder="DD-MM-YYYY" style="width: 300px; padding: 0 10px;" data-validate="required">
                </div>
            </div>

            <div class="row" style="gap: 80px;">
                <div class="col">
                    <label for="discount">Discount Amount</label>
                    <input type="number" name="discount" id="discount" data-validate="required" placeholder="Enter amount" style="width: 300px;">
                </div>
    
                <div class="col">
                    <label for="min_amount">Criteria Amount</label>
                    <div class="currency-input">
                        <span class="currency-symbol">&#8377;</span>
                        <input
                          type="number"
                          name="min_amount" 
                          id="min_amount"
                          class="purchase-input"
                          placeholder="Minimum purchase amount"
                          style="border: 0;"
                          data-validate="required"
                        />
                      </div>
                </div>
            </div>

            <div class="row" style="gap: 80px;">
                <div class="col">
                    <label for="type">Usage Type</label>
                    <select id="type" name="type" style="width: 300px;" data-validate="required">
                        <option value="single">Single</option>
                        <option value="multiple">Multiple</option>
                    </select>
                </div>
    
                <div class="col">
                    <label for="status">Status</label>
                    <select id="status" name="status" style="width: 300px;" data-validate="required">
                        <option value=true>Active</option>
                        <option value=false>Inactive</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <label for="limit">Usage Limit</label>
                <input type="number" id="limit" name="limit" placeholder="Enter limit" style="width: 300px;" data-validate="required">
            </div>

            <div style="display: flex; flex-direction: row; gap: 50px; margin-top: 60px;">
                <button class="button" id="submit-btn" type="submit">Create Coupon</button>
                <a href="/admin/coupons" class="button-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    const activationPicker = flatpickr("#activation", {
        dateFormat: "d-M-Y",
        minDate: "today",
        onChange: function (selectedDates) {
            const activationDate = selectedDates[0];
            if (activationDate) {
                expiryPicker.set("minDate", new Date(activationDate.getTime() + 24 * 60 * 60 * 1000));
                expiryPicker.setDate(null);
            }
        }
    });

    const expiryPicker = flatpickr("#expiry", {
        dateFormat: "d-M-Y",
        minDate: "today"
    });
  </script>
<%- include('../partials/admin/footer.ejs') %>