<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>
<div class="account-page">
    <%- include('../partials/user/sidebar.ejs') %>
    <main class="main-content">
        <h1>Test</h1>
    </main>
</div>
<%- include('../partials/user/footer.ejs') %>