<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>
<div class="account-page">
    <%- include('../partials/user/sidebar.ejs') %>
    <div class="account-section" style="align-items: center; margin-top: 20px;">
        <div class="page-name" style="padding: 0; align-self: self-start;">
            <a href="/" class="base-page">Home</a>
            <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.81168 5.46731C6.06095 5.74435 6.06303 6.19578 5.81633 6.47571L0.948585 12L0.0460425 10.9967L4.46723 5.97935L0 1.01366L0.89321 0L5.81168 5.46731Z" fill="#71747E"/>
            </svg>
            <p class="current">Change Password</p>    
        </div>
        <h2 class="heading">Change Password</h2>
        <form id="password-form">
            <div class="col">
                <label for="current_password">Current Password</label>
                <input type="password" name="current_password" id="current_password" data-validate="required">
                <span id="current_password_error" class="form-error"></span>
            </div>
            <div class="col">
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" data-validate="required|min:8|uppercase|number|notmatch:current_password">
                <span id="password_error" class="form-error"></span>
            </div>
            <button type="submit" class="form-button" style="cursor: pointer;">Change password</button>
        </form>
    </div>
</div>
<script>
    const password_form = document.getElementById("password-form");

    Array.from(password_form.elements).forEach((input) => {
        input.addEventListener("input", () => handleValidation(input));
    })

    password_form.addEventListener("submit", async (e) => {
        e.preventDefault();
        let isValid = true;

        Array.from(password_form.elements).forEach(input => {
            if (input.type !== 'submit') {
                if (!handleValidation(input)) {
                    isValid = false;
                }
            }
        });

        if (isValid) {
            let data = Array.from(password_form.elements).reduce((acc, input) => {
                if (input.name) { 
                    acc[input.name] = input.value;
                }
                return acc;
            }, {});
            let req = await fetch('/user/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(data)
            });
            let res = await req.json();
            if (res.success) {
                alert_success(res.message);
            } else {
                alert_error(res.message);
            }
        }
    });
</script>
<%- include('../partials/user/footer.ejs') %>