<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>

<div class="auth-container">
    <h1>Verification Code</h1>
    <div class="box">
        <div class="section">
            <% if (error_message && error_message.length > 0) { %>
                <p class="error-message"><%= error_message %></p>
            <% } %>
            <form action="/user/reset-password" method="post" id="auth-form">
                <div class="col">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" value="" data-validate="required|min:8|uppercase|number">
                    <span id="password_error" class="form-error"></span>
                </div>
                <div class="col">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" data-validate="required|match:password">
                    <span id="confirm_password_error" class="form-error"></span>
                </div>
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/user/footer.ejs') %>